# System files to ignore
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
ntuser.ini
NTUSER.DAT*
AppData/
anaconda3/
OneDrive/
.vscode/
.ipython/
.jupyter/
.conda/
.continuum/
.keras/
Music/
Pictures/
Videos/
Contacts/
Downloads/
Documents/

